@import 'leaflet/dist/leaflet.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
}

*,
::before,
::after {
    border-width: 0;
    border-style: solid;
    border-color: rgba(194, 199, 208, 0.4);
}


.custom-nav {
    background-color: hsl(220, 35%, 97%);
}

.list-text label {
    padding-bottom: 0.15rem;
    padding-top: 0.15rem;
}

.list-text label span {
    font-size: 11pt;
}

.list-text table {
    font-size: 11pt;

}

.eighty {
  height: calc(80vh);
}

.cartable {
    font-size: 10pt;
    padding: 1rem;
}

.ct {
    font-size: 10pt;
    padding: 0.3rem;
}

.simantal input{
    width: 3rem;
    height: 1rem;
    border-radius: 8px;
    font-size: 10pt;
    padding: 0.3rem;
}

.no-border-bottom{
    border-bottom: none;
}

.MuiInputBase-root.MuiFilledInput-root::before{
    border-bottom: none;
}

.no-arrow input{
-webkit-appearance: none;
  -moz-appearance: textfield;
  height: 0;
}